<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Frontend Mentor | Interactive card details form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <main class="main" id="app">
      <div class="col--left">
        <div class="center-images">
          <div class="back--img">
            <img src="images/bg-card-back.png" alt="front card" />
            <p class="back--img__cvv">{{cvc}}</p>
          </div>
          <div class="front--img">
            <img src="images/bg-card-front.png" alt="front card" />

            <img
              src="images/card-logo.svg"
              alt="card logo"
              class="front--img__svg"
            />
            <p class="front--img__cardNumber">{{codeNumber()}}</p>
            <p class="front--img__name">{{userName()}}</p>
            <p class="front--img__expire">
              <span>{{setMonth()}}</span>/<span>{{setYear()}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col--right">
        <div class="center-form">
          <p class="errorMsg" v-if="isInvalid">
            All the input fields are required
          </p>
          <form class="form" @submit.prevent="checkValidity">
            <div class="form__group">
              <label for="nInput" class="form__label">Cardholder name</label>
              <input
                type="text"
                class="form__input"
                placeholder="e.g. Jane Appleseed"
                id="nInput"
                maxlength="32"
                v-model="username"
              />
            </div>
            <div class="form__group">
              <label for="cnInput" class="form__label">Card Number</label>
              <input
                type="text"
                class="form__input"
                placeholder="e.g. 1234 5678 9123 0000"
                id="cnInput"
                maxlength="16"
                v-model="code"
              />
            </div>
            <div class="form__group-dateandcvv">
              <div class="form__group form__group-dateandcvv--exp">
                <label
                  for="expDateMonthInput"
                  class="form__label form__label-date"
                  >Exp. Date (MM/YY)</label
                >
                <div class="form__group-expdate">
                  <input
                    type="text"
                    class="form__input form__input-month"
                    placeholder="MM"
                    id="expDateMonthInput"
                    maxlength="2"
                    v-model="month"
                  />
                  <input
                    type="text"
                    class="form__input form__input-year"
                    placeholder="YY"
                    id="expDateYearInput"
                    maxlength="2"
                    v-model="year"
                  />
                </div>
              </div>
              <div class="form__group form__group-dateandcvv--cvv">
                <label for="cvvInput" class="form__label">Cvc</label>
                <input
                  type="text"
                  class="form__input"
                  placeholder="e.g. 123"
                  id="cvvInput"
                  maxlength="3"
                  v-model="cvc"
                  number
                />
              </div>
            </div>
            <div class="form__group">
              <button class="btn" type="submit">Confirm</button>
            </div>
          </form>
        </div>
        <p class="disclaim">*This is only for learn purpose</p>
      </div>
    </main>

    <!--
  0000 0000 0000 0000
  Jane Appleseed
  00/00

  000

  Cardholder Name
  e.g. Jane Appleseed

  Card Number
  e.g. 1234 5678 9123 0000

  Exp. Date (MM/YY)
  MM
  YY

  CVC
  e.g. 123

  Confirm

  -- Completed state start --

  Thank you!
  We've added your card details
  Continue

  -->
    <!--
    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Your Name Here</a>.
    </div>
  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
